body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  .container-p {
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  